:root {
    --text-color: #444
    --bg-color: white
}

body {
    margin: 20px auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 650px;

    background-color: var(--bg-color);
    color: var(--text-color);

    line-height: 1.6;
    font-size: 18px;
}

a {
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
}