img {
    max-width: 100%;
    height: auto;
    width: auto;
}

pre {
    margin: 10px;
    padding: 7px;

    display: block;
    overflow-x: scroll;
    width: 1;
    max-width: fit-content;

    border-radius: var(--corner-radius);
    border: 0 solid var(--highlight-color);
    border-width: var(--line-width);
    border-color: var(--highlight-color);
}

a {
    color: var(--accent-color);
}

img {
    border-radius: var(--corner-radius);
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

table {
    padding: calc(var(--gap-size) / 2);

    border-radius: var(--corner-radius);
    border: 0 solid var(--highlight-color);
    border-width: var(--line-width);
    border-color: var(--highlight-color);
    
    display: block;
    overflow-x: scroll;

    max-width: max-content;
}

th {
    padding: calc(var(--gap-size) / 2);
}

td {
    padding: calc(var(--gap-size) / 2);
}