* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

@font-face {
    font-family: "SomgaFont";
    src: url("../font/JetBrainsMono.ttf");
}

img {
    border-radius: var(--corner-radius);
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

table {
    padding-top: calc(var(--gap-size) / 2);
    padding-bottom: calc(var(--gap-size) / 2);
    display: block;
    overflow-x: auto;

    max-width: max-content;
    
    border: var(--line-width) solid var(--border-color);
    border-radius: var(--corner-radius);
    
    scrollbar-color: var(--bg-light-color) var(--bg-middle-color);
    
    margin-top: calc(var(--line-height) / 2);
    margin-bottom: calc(var(--line-height) / 2);
}

th {
    padding-left: calc(var(--gap-size) / 2);
    padding-right: calc(var(--gap-size) / 2);
    color: var(--text-light-color);
}

td {
    padding-left: calc(var(--gap-size) / 2);
    padding-right: calc(var(--gap-size) / 2);
    gap: var(--line-height);
    color: var(--text-middle-color);
}

tr {
    gap: var(--gap-size);
}

* {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

h2 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

h3 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

h4 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

h5 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

h6 {
    margin: 0px;
    margin-top: var(--line-height);
    color: var(--text-light-color);
    font-weight: var(--font-weight-header);
}

p {
    margin: 0px;
    color: var(--text-middle-color);
    font-weight: var(--font-weight-light);
}

:last-child {
    margin-bottom: 0px;
}

b {
    margin: 0px;
    font-weight: var(--font-weight-bold);
}

ul {
    margin: 0px;
    color: var(--text-middle-color);
}

code {
    border-radius: var(--corner-radius);
    font-family: "SomgaFont";
    
    color: var(--text-light-color);
}

pre {
    padding: calc(var(--gap-size) / 2);
    display: block;
    overflow-x: auto;

    max-width: max-content;
    
    border: var(--line-width) solid var(--border-color);
    border-radius: var(--corner-radius);
    
    scrollbar-color: var(--bg-light-color) var(--bg-middle-color);
    
    margin-top: calc(var(--line-height) / 2);
    margin-bottom: calc(var(--line-height) / 2);
}

ul {
    padding-left: calc(var(--symbol-width) * 4);
}

a {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

/* 
input {
    font-family: "SomgaFont";

    padding: calc(var(--gap-size) / 2);
    display: block;
    overflow-x: auto;

    max-width: max-content;
    
    border: var(--line-width) solid var(--border-color);
    border-radius: var(--corner-radius);
    
    scrollbar-color: var(--bg-light-color) var(--bg-middle-color);
    
    width: calc(var(--symbol-width) * 25);

    margin-top: calc(var(--line-height) / 2);
    margin-bottom: calc(var(--line-height) / 2);
}

input:focus {
    border-color: var(--border-color);
    outline: 0;
}

input[type=button] {
    padding-left: calc(var(--gap-size) / 2);
    padding-right: calc(var(--gap-size) / 2);
    padding-top: calc(var(--gap-size) / 3);
    padding-bottom: calc(var(--gap-size) / 3);

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-light-color);

    border-radius: var(--corner-radius);
    border: var(--line-width) solid var(--border-color);

    cursor: pointer;
}

input[type=button]:hover {
    background: var(--bg-light-selected-color);
}

input[type=checkbox] {
    padding: 0;
    margin: 0;

    margin-right: var(--symbol-width);

    height: var(--line-height);
    max-width: var(--symbol-width);

    accent-color: var(--accent-color);

    cursor: pointer;
}

input[type=radio] {
    padding: 0;
    margin: 0;

    margin-right: var(--symbol-width);

    height: var(--line-height);
    max-width: var(--symbol-width);

    accent-color: var(--accent-color);

    cursor: pointer;
}

input[type=range] {
    accent-color: var(--accent-color);

    border: 0;
    margin: 0;
    padding: 0;

    height: var(--line-height);
    width: calc(var(--symbol-width) * 25);
    max-width: calc(var(--symbol-width) * 25);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px;
    color: var(--text-middle-color);
    font-weight: var(--font-weight-light);

    cursor: pointer;
}

fieldset {
    margin: 0;
    padding: 0;

    padding-left: calc(var(--symbol-width) * 2);

    border: 0;
}

button {
    font-family: "SomgaFont";

    padding-left: calc(var(--gap-size) / 2);
    padding-right: calc(var(--gap-size) / 2);
    padding-top: calc(var(--gap-size) / 3);
    padding-bottom: calc(var(--gap-size) / 3);

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-light-color);

    border-radius: var(--corner-radius);
    border: var(--line-width) solid var(--border-color);

    cursor: pointer;
    
    margin-top: calc(var(--line-height) / 2);
    margin-bottom: calc(var(--line-height) / 2);
}

button:hover {
    background: var(--bg-light-selected-color);
} */