img {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

* {
    font-family: none;
}

a {
    color: var(--accent-color);
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}