img {
    max-width: 100%;
    height: auto;
    width: auto;
}

* {
    font-family: none;
}

a {
    color: var(--accent-color);
}

img {
    border-radius: var(--corner-radius);
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}