:root {
    --text-color: #dfdfdf;
    --bg-color: rgb(0 0 0);
    --accent-color: rgb(204, 0, 0);
    --highlight-color: rgb(28 28 28);

    --line-width: 2px;
    
    color-scheme: dark;
    scrollbar-color: var(--accent-color) var(--bg-color);
}

* {
    font-family: none;
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 40px auto;
    padding: 0 10px;
    max-width: 950px;

    line-height: 1;
    font-size: 18px;
    
    background-color: var(--bg-color);
    color: var(--text-color);
}

hr {
    border: none;
    height: var(--line-width);
    background-color: var(--highlight-color);
}